<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Rifat Jamil</title>


    <link rel="stylesheet" href="{% static 'my_resume/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'my_resume/css/bootstrap.css' %}">




    {% block my_resumecss %}
    <link rel="stylesheet" href="{% static 'my_resume/css/style.css' %}">
    {% endblock my_resumecss %}

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=mm+PLUS+Rounded+1c&display=swap" rel="stylesheet">           
    <div class="container-fluid my-auto mx-auto">
        <div class="row">
 
          <div class="col-sm-3"> 
            
          </div>

          <div class="col-sm-6">


            <div class="text-center my-5 mx-auto ">
                <div class="text-center">
                    <img src="{% static 'my_resume/img/my pic.jpg' %}" alt="profilepic" class="img-fluid rounded-circle" width="300px" height="100px">
                    <h1 class="mt-2 unbounded bigfont"> Rifat Jamil </h1>
                    <p class="stackunbounded h2"> Python Developer </p>
                </div><br>
    

                <div class="border-bottom"></div>

                <div>
                  <a href="{% url 'home' %}" class=" btn btn-outline-dark my-3 mr-5  {{hactive}}">Home</a>
                  <a href="{% url 'project' %}" class=" btn btn-outline-dark my-3 mr-5  {{pactive}}">Projects</a>
                  <a href="{% url 'skill' %}" class=" btn btn-outline-dark my-3 mr-5  {{sactive}}">Tech Stacks</a>

                
                </div>
              </div>  


              
              {% block content %} 


              {% endblock content %}

              <div class="border-bottom"></div>


              <footer class="text-center">
                <!-- Grid container -->
                <div class="container p-4 pb-0">

                  <!-- Section: Social media -->
                  <section class="mb-4">
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/md.rifatjs/" class="btn btn-outline-dark my-3 mr-5 "><i class="fa-brands fa-facebook i-color fa-1x"></i></a>
    
                    <!-- Twitter -->
                    <a href="https://twitter.com/rifat_js" class="btn btn-outline-dark my-3 mr-5 "><i class="fa-brands fa-twitter i-color fa-1x"></i></a>
    
                    <!-- Instagram -->
                    <a href="https://www.instagram.com/rifaatxamil/" class="btn btn-outline-dark my-3 mr-5 "><i class="fa-brands fa-instagram i-color fa-1x"></i></a>
              
                    <!-- Linkedin -->
                    <a href="https://www.linkedin.com/in/rifat-jamil-76549a230/" class="btn btn-outline-dark my-3 mr-5 "><i class="fa-brands fa-linkedin"></i></i></a>
    
                    <!-- Github -->
                    <a href="https://github.com/rifatjamil54" class="btn btn-outline-dark my-3 mr-5 "><i class="fab fa-github"></i></a>
    
    
                  </section>
                  <!-- Section: Social media -->
                  <a href="{% url 'contact' %}" class="text-dark my-3 mr-5 ">Contact Me</a>
    
                </div>
                <!-- Grid container -->
              
                <!-- Copyright -->
                <div class="text-center p-3">
                  © 2023 Copyright:
                  <a class="text-dark" href="#">by Refat Jamil</a>
                </div>
                <!-- Copyright -->
              </footer>

          </div>

          <div class="col-sm-3"> 
          </div>

          

        </div>


    </div>


<script src="{% static 'my_resume/js/jquery.js' %}"></script>
<script src="{% static 'my_resume/js/popper.js' %}"></script>
<script src="{% static 'my_resume/js/bootstrap.js' %}"></script>
<script src="{% static 'my_resume/js/all.min.js' %}"></script>

</body>
</html>