<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Rifat Jamil</title>


    <link rel="stylesheet" href="{% static 'my_resume/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'my_resume/css/bootstrap.css' %}">




    {% block my_resumecss %}
    <link rel="stylesheet" href="{% static 'my_resume/css/style.css' %}">
    {% endblock my_resumecss %}

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="container-fluid my-auto mx-auto">
        <div class="row">
 
          <div class="col-sm-3"> 
            
          </div>

          <div class="col-sm-6">

            <div class="text-center my-5 mx-auto ">
                <div class="text-center">
                    <img src="{% static 'my_resume/img/my pic.jpg' %}" alt="profilepic" class="img-fluid rounded-circle" width="300px" height="100px">
                    <h1 class="mt-2 unbounded bigfont"> Rifat Jamil </h1>
                    <h5 class="text-dark mb-10 ptxt-color"> Python Developer </h5>
                </div><br>
    

                <div class="border-bottom"></div>

                <div>
                  <a href="{% url 'home' %}" class=" btn btn-outline-dark my-3 mr-5  {{hactive}}">About</a>
                  <a href="{% url 'project' %}" class=" btn btn-outline-dark my-3 mr-5  {{pactive}}">Projects</a>
                  <a href="{% url 'skill' %}" class=" btn btn-outline-dark my-3 mr-5  {{sactive}}">Skill</a>
                  <a href="{% url 'contact' %}" class=" btn btn-outline-dark my-3 mr-5  {{cactive}}">Contact</a>

                
                </div>
              </div>  


              
              {% block content %} 


              {% endblock content %}

              <footer>
                <div class="border-bottom"></div>
          
                  <div class ="d-flex justify-content-center my-auto mx-auto">
                    <a href="https://www.instagram.com/rifaatxamil/" class="btn btn-outline-dark my-3 mr-5 "><i class="fa-brands fa-instagram i-color fa-1x"></i></a>
                    <a href="https://www.facebook.com/md.rifatjs/" class="btn btn-outline-dark my-3 mr-5 "><i class="fa-brands fa-facebook i-color fa-1x"></i></a>
                    <a href="https://twitter.com/rifat_js" class="btn btn-outline-dark my-3 mr-5 "><i class="fa-brands fa-twitter i-color fa-1x"></i></a>
                    <a href="https://github.com/rifatjamil54" class="btn btn-outline-dark my-3 mr-5 "><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/rifat-jamil-76549a230/" class="btn btn-outline-dark my-3 mr-5 "><i class="fa-brands fa-linkedin"></i></i></a>
                  </div>
                </footer>


          </div>

          <div class="col-sm-3"> </div>

        </div>


    </div>


<script src="{% static 'my_resume/js/jquery.js' %}"></script>
<script src="{% static 'my_resume/js/popper.js' %}"></script>
<script src="{% static 'my_resume/js/bootstrap.js' %}"></script>
<script src="{% static 'my_resume/js/all.min.js' %}"></script>

</body>
</html>