{% extends 'my_resume/base.html' %}

{% load static %}

{% block content %} 

<div>

    <div class="pb-5 px-3 pt-4 shadow" >
            <p class="h2 unbounded">
                Hello I'm Rifat!
            </p><br>
            <p class="open-sa mx-auto ptxt-color">
                I have been a tech enthusiast since my days at high school to pursue my interest further I majored in Computer Technology. I complete my Diploma from Patuakhali polytechnic institute on Computer Technology.     
            </p>

            <p class="open-sa mx-auto ptxt-color">
                I'm working on growing my skills and gaining exposure to a variety of technology, whether that be through work or personal projects. I like to learn new technologies, watching football, and learning languages. Also, I believe in hard work, curiosity, and diversity.
            </p>
    </div>
   
</div>


{% endblock content %}