{% extends 'my_resume/base.html' %}

{% load static %}

{% block content %} 

<div>

    <div class="pt-5 mt-5 mx-5 flex flex-col justify-center item-start mx-auto" >

        <div class="text-center mt-5 ">
            <div class="text-center">
                <img src="{% static 'my_resume/img/153951891_2489577691338939_5354500092724276782_n.jpg' %}" alt="profilepic" class="img-thumbnail rounded-circle" width="250px" height="150px">
                <h1 class="mt-3 pt-font"> Rifat Jamil </h1>
                <h5>Software Developer | Python | Django </h5>
        
        
            </div>
        </div><br>

        <div class="mx-5 mt-5 ">
            <div class="px-4">
                <p >
                    Hi there I am a Rifat,
                </p>
                <p >
                    I have been a programming enthusiast since my days at high school to pursue my interest further I majored in Computer Technology,
                    I am complete my Diploma from Patuakhali polytechnic institute on Computer Technology. My working experience  skills  Html, CSS, JavaScript, Python, Django, PostgreSQL.   
                </p>
                <p  >
                    I have worked on many projects Todo App, Blog Website. Check my &#128073;  <a href="https://github.com/rifatjamil54" target="_blank"><i class="fa-brands fa-github i-color fa-2x">GitHub</i></a>        

                </p>
            </div>
        </div>

    </div>





</div>


{% endblock content %}