{% extends 'my_resume/base.html' %}

{% load static %}

{% block content %} 

<div>

    <div class="pt-5 mx-5 flex flex-col justify-center item-start mx-auto" >

        <div class="mx-5">
            <div class="px-4">
                <h2 style="font-family:'Courier New'">
                    Hi there I am a Rifat,
                </h2>
                <p style="font-size:130%; font-family:'Courier New'">
                    I have been a programming enthusiast since my days at high school to pursue my interest further I majored in Computer Technology,
                    I am complete my Diploma from Patuakhali polytechnic institute on Computer Technology.   
                </p>
            </div>
        </div>

    </div>
</div>


{% endblock content %}