{% extends 'my_resume/base.html' %}

{% block content %} 

<div class="pb-5 px-3 pt-2">


        <div class="row text-dark">

            <div class="col-sm-5 mb-2">
                <p class="my-2 mx-2 h3 text-center unbounded">Python</p>
                <p class="open-sans"> <strong>Programmin Skill:  </strong>Lists, Tuples, Sets, Dictionaries, Loops, Functions, Lambda Functions, Object Oriented Programming, Regular Expression, File Handling</p>
                <p class="open-sans"> <strong>Packages:  </strong>NumPy, Pandas, Requests, Matplotlib, BeautifulSoup, Scrapy, and Selenium </p>
            </div>

            <div class="col-sm-5 mb-2 offset-sm-2">
                <p class="my-2 mx-2 h3 text-center unbounded">Django</p>
                <p class="open-sans"> <strong>Django Skill:  </strong>CRUD operations, Using models, Working with forms, User authentication and permissions, Sessions framework, ORM</p>
            </div>

        </div>


        <div class="row text-dark">

            <div class="col-sm-5 mb-2">
                <p class="my-2 mx-2 h3 text-center unbounded">HTML </p>
                <div class="progress"> 
                    <div class="progress-bar bg-dark progress-bar-striped
                    progress-bar-animated" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        70%</div>
                </div>
            </div>

            <div class="col-sm-5 mb-2 offset-sm-2">
                <p class="my-2 mx-2 h3 text-center unbounded">CSS</p>
                <div class="progress"> 
                    <div class="progress-bar bg-dark progress-bar-striped
                    progress-bar-animated" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                        40%</div>
                </div>
            </div>

        </div>

        <div class="row text-dark">

            <div class="col-sm-5 mb-2">
                <p class="my-2 mx-2 h3 text-center unbounded">PostgreSQL</p>
                <div class="progress"> 
                    <div class="progress-bar bg-dark progress-bar-striped
                    progress-bar-animated" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                        85%</div>
                </div>
            </div>

            


        </div>
    
        


</div>


{% endblock content %}
