

html,body{
    height:  100%;
}

.container-fluid{
    min-height: 100%;
}

.unbounded{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #1668ac;

}
.stackunbounded{
  font-family: 'M PLUS Rounded 1c', sans-serif;

}


.open-sans{
  font-size: 16px;
  font-family: 'mm PLUS Rounded 1c', sans-serif;
}

.open-sa{
  font-size: 18px;
  font-family: 'mm PLUS Rounded 1c', sans-serif;
}




.hycolor:link {
    color: #1668ac;
    background-color: transparent;
    text-decoration: none;
  }
.hycolor:visited {
    color: #1668ac;
    background-color: transparent;
    text-decoration: none;
  }
.hycolor:hover {
    color: #1668ac;
    background-color: transparent;
    text-decoration: underline;
  }
  

.bigfont{
    font-size: 50px;
  }

.bg-darkk{
    background-color: #2e3440
  }




  
  .btn-outline-mycolor{color:#1668ac;border-color:#1668ac}
  .btn-outline-mycolor:hover{color:#fff;background-color:#1668ac;border-color:#1668ac}
  .btn-check:focus+
  .btn-outline-mycolor,
  .btn-outline-mycolor:focus{box-shadow:0 0 0 .25rem rgba(13,110,253,.5)}
  .btn-check:active+
  .btn-outline-mycolor,
  .btn-check:checked+
  .btn-outline-mycolor,
  .btn-outline-mycolor.active,
  .btn-outline-mycolor.dropdown-toggle.show,
  .btn-outline-mycolor:active{color:#fff;background-color:#1668ac;border-color:#1668ac}
  .btn-check:active+
  .btn-outline-mycolor:focus,
  .btn-check:checked+
  .btn-outline-mycolor:focus,
  .btn-outline-mycolor.active:focus,
  .btn-outline-mycolor.dropdown-toggle.show:focus,
  .btn-outline-mycolor:active:focus{box-shadow:0 0 0 .25rem rgba(13,110,253,.5)}
  .btn-outline-mycolor.disabled,
  .btn-outline-mycolor:disabled{color:#1668ac;background-color:transparent}

  .my-bg-color {
    background-color: #1668ac; 
  }

  .border-pri{border-color:#1668ac!important}
  

  