

html,body{
    height:  100%;
}

.container-fluid{
    min-height: 100%;
}

.unbounded{
  font-family: 'M PLUS Rounded 1c', sans-serif;

}


.open-sans{
  font-family: 'IBM Plex Mono', monospace;
}
.ptxt-color{
    color: rgb(0, 0, 0);
}


.hycolor:link {
    color: rgb(71, 71, 71);
    background-color: transparent;
    text-decoration: none;
  }
.hycolor:visited {
    color: rgb(71, 71, 71);
    background-color: transparent;
    text-decoration: none;
  }
.hycolor:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  

.bigfont{
    font-size: 50px;
  }

.bg-darkk{
    background-color: #2e3440
  }