{% extends 'my_resume/base.html' %}

{% load static %}


{% block content %}


    <div class="pb-5 px-3 pt-5" >
        <div class="row">
            <a class="h3 hycolor unbounded text-center pb-2" href="https://github.com/rifatjamil54/Django-Blog-Site">Django Blog Web Application <i class="fa-brands fa-github i-color fa-1x"></i></a>

            <div class="col-sm-5 px-3">
                <ul class="open-sans pt-4">
                    <li>An author can post the blog.</li>
                    <li>Every blog has a category, author profile, publish date, and update date.</li>
                    <li>The author can change their profile picture.</li>
                    <li>Every user see the profile page, but only profile owner can update their profile information.</li>
                </ul>
            </div>
    
            <div class="col-sm-5  offset-sm-2 px-3">
                <a href="http://127.0.0.1:8000/static/my_resume/img/djdemo.gif">
                    <img src="{% static 'my_resume/img/djdemo.gif' %}" alt="gif" class="img-fluid pt-4" width="300px" height="100px">

                </a>

            </div>    

        </div>

    
    </div>

    



{% endblock content %}

