{% extends 'my_resume/base.html' %}

{% load static %}


{% block content %}


<div class="pb-5 px-3 pt-4 ">


        <div class="row">

            <div class="col-sm-5 mb-2">
                <p class="my-2 mx-2 h3 text-center unbounded"> ShopiMart</p>
                <p class="pt-3 open-sa">
                    This project is a simple e-commerce website built using the Django framework. It allows users to browse products, add them to their cart, and check out their orders.
                      <a href="http://github.com/rifatjamil54/ShopiMart--django-e-commerce-project"><i class="fa-brands fa-github i-color fa-1x"></i></a>
                </p>
            </div>



            <div class="col-sm-5 mb-2 offset-sm-2">
                <p class="my-2 mx-2 h3 text-center unbounded">Blog Web Application </p>

                <p class="pt-3 open-sa"> This project is a simple blog website built using the Django framework. User registration and login.
                     It allows users to create, edit, and delete blog posts.
                     <a href="https://github.com/rifatjamil54/Django-Blog-Web-Application"> 
                        <i class="fa-brands fa-github i-color fa-1x"></i>
                    </a>
                </p>

            </div>    

        </div>


        <div class="row">

            <div class="col-sm-5 mb-2">
                <p class="my-2 mx-2 h3 text-center unbounded"> Web Crawler</p>
                <p class="pt-3 open-sa">
                    This project is a crawler bot, crawling data from <a href="https://books.toscrape.com/">Books to Scrape</a> website.
                      <a href="https://github.com/rifatjamil54/web-crawler.git"><i class="fa-brands fa-github i-color fa-1x"></i></a>
                </p>
            </div>



            <div class="col-sm-5 mb-2 offset-sm-2">
                
        </div>
    
    </div>

    



{% endblock content %}

