{% extends 'my_resume/base.html' %}


{% block content %}

<div>

    <div class="pt-5 mx-5 flex flex-col justify-center item-start mx-auto" >

        <div class="mx-5">
            <div class="px-4">
                <h2 style="font-family:'Courier New'">
                    Registration Form 
                </h2>
                <a href="https://github.com/rifatjamil54/User_Registration_Form.git">visit to GitHub <i class="fa-brands fa-github i-color fa-1x"></i></a><br><br>


                <p style="font-family:'Courier New'">This project has been developed using User authentication in Django.</p>
                        <ul style="font-family:'Courier New'">
                        <li>Users can register their identities.</li>
                        <li>An unauthenticated user cannot log in.</li>
                        <li>And they can also change their password.</li>
                        </ul>
                
            </div>
        </div>
        

    </div>
</div>




{% endblock content %}

